
@{
    ViewData["Title"] = "AR";
}

<h2>ActiveReports in ASP.NET CORE 2.0</h2>

<div class="container">
    <div id="settingsContainer">
        <div class="settings-row">

            <label>Choose report :</label>
            <div id="btnReport" class="btn-group">
                <button type="button" class="btn btn-default" data-bind="Reports/BillingInvoice.rdlx">Page Report</button>
                <button type="button" class="btn btn-default" data-bind="Reports/Orders.rdlx">RDL Report</button>
                <button type="button" class="btn btn-default" data-bind="Reports/Invoice.rpx">RPX Report</button>
            </div>

        </div>
        <div class="settings-row">
            <label>Choose UI type :</label>
            <div id="btnUIType" class="btn-group" data-toggle="buttons-checkbox">
                <button class="btn btn-default active" data-bind="desktop">Desktop</button>
                <button class="btn btn-default" data-bind="mobile">Mobile</button>
            </div>
        </div>
    </div>
    <div id="viewer" style="width:100%; height:600pt;"></div>
</div>

